
*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

.hero{
	width: 400px;
	height: 400px;
	background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,00.6));
}
